*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

h1 {
    font-family: 'Kolker Brush', cursive;
    font-size: 7rem;
    margin: 0;
    padding: 0;
    text-transform: none;
}

button {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameInfo {
    text-align: left;
    margin: 0;
}


td {
    border: solid 1px white;
    margin: 0;
    height: 30px;
    width: 30px;
}

#playerInfo {
    padding: 1rem;
}

#play {
    height:75px;
    width: 75px;
    background-color: green;
    text-transform: uppercase;
    color: white;
}

.apple {
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.snake {
    background-color:lime;
}