*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#score, #highScore {
    text-align: left;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}
#grid div {
    border: solid 1px white;
    height: 30px;
    width: 30px;
}